<% @questions.each do |question| %>
  <div class="question">
    <a href="/questions/<%=question.id%>" >
      <h2><%= question.user.user_name %> asked: <%= question.title %></h2>
    </a>
  </div>
<% end %>
